In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [1]:
import pandas as pd

df = pd.DataFrame({
    'Temperature': [12,14,16,18,20,22,24,26,28,30,32,34],
    'Cold_Drink_Sales': [20,24,30,38,50,65,85,110,140,175,210,250]
})

df

    Temperature  Cold_Drink_Sales
0            12                20
1            14                24
2            16                30
3            18                38
4            20                50
5            22                65
6            24                85
7            26               110
8            28               140
9            30               175
10           32               210
11           34               250