### Logistic Regression ‚Äî Summary

* Logistic regression is a binary classifier from the Generalized Linear Model (GLM) family.

* It models the probability of a categorical outcome (0 or 1), specifically estimating P(Y = 1) based on input variables 
ùëã
X.

* Unlike linear regression (used for continuous outcomes), logistic regression is used when the dependent variable is categorical.

### Key Assumptions
* The dependent variable must be binary (0/1).

* The value 1 should represent the desired outcome.

* Include only relevant, meaningful predictors.

* Low multicollinearity among independent variables.

* Independent variables must be linearly related to the log-odds of the outcome.

* Requires a relatively large sample size.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns
from statsmodels.compat import lzip
import statsmodels.formula.api as sm
import statsmodels.stats.stattools as st
import statsmodels.stats.api as sms
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [5]:
candidates = {'gmat': [780,750,690,710,680,730,690,720,740,690,610,690,710,680,770,610,580,650,540,590,620,600,550,550,570,670,660,580,650,660,640,620,660,660,680,650,670,580,590,690],
              'gpa': [4,3.9,3.3,3.7,3.9,3.7,2.3,3.3,3.3,1.7,2.7,3.7,3.7,3.3,3.3,3,2.7,3.7,2.7,2.3,3.3,2,2.3,2.7,3,3.3,3.7,2.3,3.7,3.3,3,2.7,4,3.3,3.3,2.3,2.7,3.3,1.7,3.7],
              'work_experience': [3,4,3,5,4,6,1,4,5,1,3,5,6,4,3,1,4,6,2,3,2,1,4,1,2,6,4,2,6,5,1,2,4,6,5,1,2,1,4,5],
              'admitted': [1,1,1,1,1,1,0,1,1,0,0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,1,0,1,1,0,0,1,1,1,0,0,0,0,1]
              }
df = pd.DataFrame(candidates)
df.head()

   gmat  gpa  work_experience  admitted
0   780  4.0                3         1
1   750  3.9                4         1
2   690  3.3                3         1
3   710  3.7                5         1
4   680  3.9                4         1

In [24]:
print("=" * 30,"Dataframe Info:-","=" * 30)
print(f"Missing Value:- \n{df.isna().sum()}")
print("=" * 30,"Describe Dataset:-","=" * 30)
print(f"Describe Value:- \n{df.describe()}")

============================== Dataframe Info:- ==============================
Missing Value:-
gmat               0
gpa                0
work_experience    0
admitted           0
dtype: int64
============================== Describe Dataset:- ==============================
Describe Value:-
             gmat        gpa  work_experience   admitted
count   40.000000  40.000000        40.000000  40.000000
mean   654.000000   3.095000         3.425000   0.525000
std     61.427464   0.631218         1.737778   0.505736
min    540.000000   1.700000         1.000000   0.000000
25%    607.500000   2.700000         2.000000   0.000000
50%    660.000000   3.300000         4.000000   1.000000
75%    690.000000   3.700000         5.000000   1.000000
max    780.000000   4.000000         6.000000   1.000000